@import "../../../styles/abstracts/mixins";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;

  &__contentWrap {
    min-width: 350px;
    min-height: 250px;
    background-color: var(--col-primary-1);
    border-radius: 8px;
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .header-left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    h4 {
      font-size: 14px;
      font-weight: 600;
    }
    span {
      cursor: pointer;
    }
  }
  .modal__header.show-border {
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  &__body {
  }
}

@include responsive(tab-sm) {
  .modal {
    &__contentWrap {
      min-width: initial;
      width: 95%;
    }
    &__body {
      padding: 0 8px;
    }
  }
}

@include responsive(mobile) {
  .modal {
    &__contentWrap {
      min-width: 280px;
    }
  }
}
